@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.home-heading{
    width:50%;
    height:10rem;
    display: flex;

    align-items: center;
    justify-content: center;
}
.home-logo{
    width:20%;
    height:100%;
}
.home-logo-img{
    width:20%;
    height:100%;
    border-radius: 50%;
}
.home-heading-right{
    width:100%;
    height:100%;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    align-items: center;
    font-size: 6rem;
    font-weight: 600;
    justify-content: center;
}

.section1{
    width:85%;
    height:40rem;
    display: flex;
    margin-top: 10px;
}
.section1-left{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section1-left-image{
    width:90%;
    height:90%;
}



.seaction1-right{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.section1-right-heading{
    width:90%;
    height:12rem;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}
.section1-right-body{
    width:90%;
    height:25rem;
    font-size: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.vid{
    width:100%;
    height:80%;
    border-radius: 10px;
}